<!-- Image and text -->
<div class="navbar-wrap">
  <nav class="navbar navbar-light" style="background-color:#e3f2fd;">
      <a class="navbar-brand" href="#">
        <img src="../favicon.ico" >  
      </a>
      <a class="navbar-brand" routerLink="/department-list" routerLinkActive="active">Department List</a>
      <a class="navbar-brand" routerLink="/employee-list" routerLinkActive="active">Employee List</a>
      <a class="navbar-brand" routerLink="/product" routerLinkActive="active">Product List</a>
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active"> Home</a>
    </nav>
</div>
  <div class="row content">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>